.wrapper {
    padding: 5px;
    /*height: 94vh;*/
}

.users {
    height: 100%;
    display: flex;
}

.users-left {
    display: flex;
    width: 50%;
    border-right: 1px solid silver;
}

form {
    display: flex;
    flex-direction: column;
}
form > input {
    margin-bottom: 5px;
}

.users-right {
    width: 50%;
    overflow-y: scroll;
    margin-left: 5px;
}

.comments {
    height: 100%;
    display: flex;
}

.comments-left {
    width: 50%;
    border-right: 1px solid silver;
}

.comments-right {
   width: 50%;
    overflow-y: scroll;
    margin-left: 5px;
}
.user-form, .comments-form {
    width: 60%;
}

.comments-form :nth-child(3) {
    height: 200px;
}

.comments-wrapper {
    height: 47vh;
    margin-bottom: 10px;
}

.users-wrapper {
    height: 47vh;
}

.cars-block {
    display: flex;
}

.form-block {
    width: 40%;
    margin-right: 10px;
    border-right: 1px solid silver;
}